registry=https://artifactory.mycloud.intrabpce.fr/artifactory/api/npm/g-npm-89c3/
sass_binary_site=https://artifactory.mycloud.intrabpce.fr/artifactory/raw-proxy-node-sass-releases/
phantomjs_cdnurl=https://artifactory.mycloud.intrabpce.fr/artifactory/raw-proxy-phantomjs/
cypress_download_mirror=https://artifactory.mycloud.intrabpce.fr/artifactory/generic-proxy-download-cypress/
fsevents_binary_site=https://artifactory.mycloud.intrabpce.fr/artifactory/raw-proxy-fsevents-releases/
strict-ssl=false